pre.highlight {
    margin: 0;
    overflow: auto;
    white-space: unset;

    code {
        white-space: pre;
    }
}

pre[max-height="300"] {
    max-height: 300px !important;
}


pre[max-height="500"] {
    max-height: 500px !important;
}