.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.t-space[fixed] {
    display: flex;

    &.t-space-align-center {
        justify-content: center;
    }
}

.t-tab-panel {
    padding: 16px;
}

.t-table th {
    white-space: nowrap;
    background-color: #f5f7fa !important;
}

td .t-link+.t-link {
    margin-left: 10px;
}

.t-form__item .t-auto-complete {
    width: 100%;
}